@font-face {
  font-family: Pixel;
  src: url(/fusion-pixel-10px-monospaced-ja.ttf);
}

h1 {
  font-size: xx-large;
  color: white;
}

body {
  font-family: Pixel;
  max-width: 600px;
  margin-right: auto;
  color: lightgray;
  margin-left: auto;
  padding: 20px;
  background-color: darkblue;
}

.header {
  text-align: center;
}

.footer {
  font-size: smaller;
  color: gray;
  text-align: center;
}

.article {
  text-align: left;
}

hr {
  height: 2px;
}

a {
  color: yellow;
}

a:visited {
  color: purple;
}

a:hover {
  color: lightyellow;
}

a:active {
  color: red;
}

b {
  color: aqua;
  font-weight: normal;
}

em {
  color: red;
  font-style: normal;
}

i {
  color: gray;
  font-style: normal;
}