@font-face {
  font-family: Pixel;
  src: url(/fusion-pixel-10px-monospaced-ja.ttf);
}

* {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1 {
  font-size: xx-large;
  text-shadow: 0 0 20px white;
}

h2,
h3 {
  font-size: large;
}

h4,
h5,
h6 {
  font-size: medium;
}

body {
  font-family: Pixel;
  max-width: 600px;
  margin-right: auto;
  color: lightgray;
  margin-left: auto;
  padding: 20px;
  background-color: darkblue;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  font-size: smaller;
  color: gray;
  text-align: center;
}

.article {
  text-align: left;
}

hr {
  height: 2px;
}

a {
  color: aqua;
}

a:visited {
  color: violet;
}

a:hover {
  color: white;
}

a:active {
  color: red;
}

b {
  color: yellow;
}

em {
  color: red;
}

i {
  color: gray;
}