h1 {
  text-align: center;
}
body {
  margin-right: auto;
  font-family: "Times New Roman",Times,serif;
  max-width: 600px;
  margin-left: auto;
}
.footer {
  font-size: smaller;
  color: #cccccc;
  text-align: center;
}
p {
  text-align: justify;
}
