vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Aug 2018 04:57:04 -0000
vti_author:SR|KOC-T470S\\zszth
vti_modifiedby:SR|KOC-T470S\\zszth
vti_nexttolasttimemodified:TR|01 Aug 2018 04:57:04 -0000
vti_timecreated:TR|01 Aug 2018 05:01:57 -0000
vti_extenderversion:SR|6.0.2.8161
vti_syncwith_localhost\\c\:\\users\\zszth\\onedrive\\文档\\my web sites\\mysite/c\:/users/zszth/onedrive/文档/my web sites/mysite:TR|01 Aug 2018 04:57:04 -0000
vti_cacheddtm:TX|01 Aug 2018 05:01:57 -0000
vti_filesize:IR|27264
vti_cachedlinkinfo:VX|S|zerglobd.gif S|zertxtr.gif S|zerbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/zero/zerglobd.gif FSUS|_themes/zero/zertxtr.gif FSUS|_themes/zero/zerbul2d.gif FSUS|_themes/zero/toolgrad.gif FSUS|_themes/zero/dot.gif FSUS|_themes/zero/toolgrad.gif FSUS|_themes/zero/theme.css FSUS|_themes/zero/blank.gif
vti_backlinkinfo:VX|_themes/zero/theme.css
