vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Aug 2018 08:26:06 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|KOC-T470S\\zszth
vti_modifiedby:SR|KOC-T470S\\zszth
vti_timecreated:TR|30 Apr 2011 06:54:32 -0000
vti_backlinkinfo:VX|novel.html setsumei.html index.html
vti_cacheddtm:TX|03 Aug 2018 08:26:06 -0000
vti_filesize:IR|2296
vti_cachedlinkinfo:VX|S|鑳屾櫙鐢诲儚url.gif
vti_cachedsvcrellinks:VX|NSUS|鑳屾櫙鐢诲儚url.gif
